body {
    margin: 0;
}

h1 {
    font-size: 42pt;
    font-family: sans-serif;
    text-align: center;
}

p {
    color: green;
    font-size: 24pt;
}

a {
    color:red;
}
a:hover {
	 color: blue;
}
a:hover {
	 background-color: purple;
}
#important_paragraphs:hover {
	background-color: yellow;
	font-size: 40px;
}
.less_important_paragraphs:hover {
	color: blue;
}